*{
    margin: 0;padding: 0;
}
:root{
    --mainColor: #1a80b8;
    --mainColorBlur: rgba(26, 128, 184, .2);
    --mainColorBlur2: rgba(26, 128, 184, .6);
    --mainBackColor: #f1fefa;
    --mainColorSource: teal;
    --dark: #111;
    --gray: #ddd;
    --grayBlur1: rgba(221, 221, 221, .8);
    --red: #FD5853;
    --yellow: #DDBB3D;
    --blue: #58B23B;
}
body{
    display: flex;
    flex-direction: row;
    background-color: var(--mainBackColor);
}