nav{
    width: 22%;
    height: 100vh;
    overflow: auto;
}
nav header{
    border-bottom: 1px solid var(--mainColorBlur);
    background-color: var(--mainBackColorBlur);
    backdrop-filter: blur(10px);
    padding: 12px 6px;
    display: flex;
    width: 20%;
    z-index: 2;
    align-items: center;justify-content: space-evenly;
    position: fixed;
}
nav header .logo{
    color: var(--mainColor);
    font-size: 28px;
    font-weight: 1000;
    padding: 5px 12px;
    border-radius: 8px;
    cursor: pointer; /* grab */
    transition: all 0.3s ease;
}
nav header .logo:hover{
    background-color: var(--grayBlur1);
}
nav header .logo>span{
    color: var(--dark);
}
nav header .version{
    color: var(--dark);
    font-size: 12px;
}

nav .list{
    margin: 100px 15px 10px 15px;
}
nav .list p{
    margin: 15px 10px;
    color: gray;
    font-weight: 700;
}
nav .list>div{
    border-radius: 8px;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    padding: 6px 20px;
}
nav .list>div.active{
    background-color: var(--mainColor);
    color: white;
}

/* @media screen and  (max-width:1000px){
    nav{
        display: none;
    }
    .content{
        width: 100%;
    }
} */

/*  */
.content{
    width: 78%;
    height: 100vh;
    overflow: auto;
}
.content header{
    width: 76.8%;
    height: 71px;
    border-bottom: 1px solid var(--mainColorBlur);
    background-color: var(--mainBackColorBlur2);
    position: fixed;
    display: flex;
    align-items: center;justify-content: flex-end;
    flex-direction: row;
    backdrop-filter: blur(10px);
}
.content header .change-mode{
    line-height: 30px;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 10px;
}
.content header .change-mode:hover{
    background-color: var(--grayBlur1);
}
.content header .change-mode span{
    margin: 0 8px 0 2px;
}
.content header .mode-list{
    display: none;
    position: absolute;
    top: 72px;right: 78px;
    width: 180px;
    max-height: 250px;
    overflow: auto;
    padding: 10px 0;
    border-radius: 0 0 8px 8px;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    box-shadow: 10px 12px 10px 8px rgba(207, 207, 207, .5), -10px 12px 10px 8px rgba(215, 205, 220, .5);
    /*  */
    text-align: center;
}
.content header .mode-list>div{
    width: 60%;
    margin: 0 auto;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 900;
}
.content header .mode-list>div.active{
    background-color: var(--mainColor);
    color: white;
}
.content header .mode-list>div:hover{
    background-color: var(--grayBlur1);
}
.content header .mode-list>div.active:hover{
    background-color: var(--mainColor);
}
.content header .github{
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 4px;
    transition: all 0.3s ease;
}
.content header .github:hover{
    background-color: var(--grayBlur1);
}

.content .box{
    margin: 100px 50px;
}

h1,h2{
    color: var(--mainColor);
}

.content .box hr{
    margin-top: 80px;
    border-color: var(--mainColorBlur);
}
.code {
    margin: 10px;
    width: 600px;
    background-color: var(--mainColor);
    background: linear-gradient(to left, var(--mainColor), rgb(58, 181, 230));
    padding: 30px 20px 20px 20px;
    border-radius: 8px;
    box-shadow: 10px 10px 12px 2px rgba(26, 128, 184, .8), -10px -10px 12px 2px #fff;
    position: relative;
    overflow: auto;
}
.code,.code pre{
    font-family: JetBrains Mono, consolas, serif;
    
}
.code span{
    display: block;
    height: 12px;width: 12px;
    border-radius: 50%;
    background-color: var(--red);
    position: absolute;
    top: 10px;
    cursor: pointer;
}
.code span::before{
    content: '';
    height: 12px;width: 12px;
    position: absolute;
    left: 20px;
    border-radius: 50%;
    background-color: var(--yellow);
}
.code span::after{
    content: '';
    height: 12px;width: 12px;
    position: absolute;
    left: 40px;
    border-radius: 50%;
    background-color: var(--blue);
}
